//colors
$white: #fff;

$black: #000;
$black-light: #282828;

$red-primary: #BA1C19;
$red-secondary: #ff2722;
$red-light: #ff6966;

//fonts

$font-family-main: 'Better Vcr';
$font-family-secondary: 'Barcade Brawl';

//xxs
$font-size-xxs: 14px;
$line-height-xxs: 150%;
// $font-xxs: $font-size-xxs / $line-height-xxs + '%' $font-family-main;

//xs
$font-size-xs: 16px;
$line-height-xs: 150%;
// $font-xs: $font-size-xs $line-height-xs  + '%' $font-family-main;

//s
$font-size-s: 20px;
$line-height-s: 130.5%;
// $font-s: $font-size-s $line-height-s  + '%' $font-family-main;

//m
$font-size-m: 24px;
$line-height-m: 150%;
// $font-m: $font-size-m $line-height-m  + '%' $font-family-main;

//l
$font-size-l: 26px;
$line-height-l: 130.5%;
// $font-l: $font-size-l $line-height-l $font-family-main;

//xl
$font-size-xl: 32px;
$line-height-xl: 130.5%;
// $font-xl: $font-size-xl $line-height-xl $font-family-main;

//xxl
$font-size-xxl: 36px;
$line-height-xxl: 130.5%;
// $font-xxl: $font-size-xxl $line-height-xxl $font-family-main;

//xxxl
$font-size-xxxl: 40px;
$line-height-xxxl: 130.5%;
// $font-xxxl: $font-size-xxxl $line-height-xxxl $font-family-main;

//heading
$font-size-heading: 64px;
$line-height-heading: 130.5%;
// $font-heading: $font-size-heading $line-height-heading $font-family-main;